.bloco-1 {
    background-color: yellow;
    width: 200px;
    height: 200px;
}
/* classes devem ser referenciadas com o "." antes do nome */

/* BOX MODEL */
.box-margin {
    width: 100%;
    height: 430px;
    background-color: red;
}

.box-border {
    position: absolute;
    left: 5%;
    right: 5%;
    height: 50%;
    background-color: green;
}

.box-padding {
    position: absolute;
    left: 5%;
    right: 5%;
    height: 70%;
    background-color: yellow;

}

.box-content {
    position: absolute;
    left: 10%;
    right: 10%;
    height: 60%;
    background-color: blue;
}